<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../style/index.css">
        <link rel="stylesheet" href="../../style/form.css">
        <title>elxgo - Edit Food</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1 class="text-center">Edit Food</h1>
                <hr>
                <div class="card-body">
                    <div class="form-style-2">
                        <form action="update" method="post">
                            <input type="hidden" id="id" name="id" value="<%= item.first['id'] %>">
                            <label for="name">
                                <span>Name</span>
                                <input type="text" class="input-field" name="name" id="name" value="<%= item.first['name'] %>"/>
                            </label>
                            <label for="price">
                                <span>Price</span>
                                <input type="text" class="input-field" name="price" id="price" value="<%= item.first['price'] %>"/>
                            </label>
                            <label for="category"><span>Category</span>
                                <% categories.zip(selected_categories).each do |category, selected_category|%>
                                    <input type="checkbox" name="category_id[]" value="<%= category.id %>" <%= 'checked' unless selected_category.nil?%>><%= category.name %><br/>
                                <% end %>
                            </label>
                            <label for="description"><span>Description</span>
                                <textarea name="description" class="textarea-field"><%= item.first['description'] %></textarea>
                            </label>
                            <div class="submit">
                                <a href="/menu" class="btn"> Cancel</a>
                                <input type="submit" value="update" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a>
    </footer>
</html>