<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../style/index.css">
        <link rel="stylesheet" href="../../style/form.css">
        <title>elxgo - Edit Category</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1 class="text-center">CATEGORY</h1>
                <hr>
                <div class="card-body">
                    <div class="form-style-2">
                        <form action="update" method="post">
                            <label for="name">
                                <span>Name <span class="required">*</span></span>
                                <input type="text" class="input-field" name="name" id="name" value="<%= category.first["name"]%>" />
                            </label>
                            <label for="category"><span>Items</span>
                                <% if !items.empty? %>
                                    <% items.zip(selected_items).each do |item, selected_item| %>
                                        <%= puts item.name, selected_item.nil?%>
                                        <input type="checkbox" name="item_id[]" value="<%= item.id %>" <%= 'checked' unless selected_item.nil?%>><%= item.name %><br/>
                                    <% end %>
                                <% else %>
                                    No items
                                <% end %>
                            </label>
                            <div class="submit">
                                <a href="/category" class="btn"> Cancel</a>
                                <input type="submit" value="Update" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a>
    </footer>
</html>